div#main, div#content { transition: all 0.2s ease-out; }
div#main { position: absolute; top: 50px; right: 0; left: 250px; bottom: 0; overflow: hidden; }
div#main div#wrapper { right: 0; left: 0; position: absolute; top: 63px; bottom: 0; }
div#main div#wrapper div#content { padding: 24px; padding-bottom: 0; }

div#main.menu-crush { left: 50px; }

div#main div#content div.buttons-form { position: relative; margin-top: 1rem; margin-bottom: 1rem; text-align: right; }
div#main div#content div.buttons-form button { margin: 8px; margin-right: 4px; }
div#main div#content div.buttons-form button:last-child { margin-right: 0 !important; }
